*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;    
}

.header{
  width: 100%;
  /*height: 100%; */
  height: 100vh;  
  position: relative;
  transform-style: inherit;
}

/*Implementing Paralax*/



/*Designing the content below*/

/* .text {
  z-index: 2;
  position: absolute;
  top: 100vh;
  background: black;
  line-height: 30px;
  font-weight: lighter;
  padding: 40px;
  color: grey;
} */

/*Nav bar*/
.nav_menu_icon{
  width: 20px;
  height: 20px;  
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right .6s;
}

/*Moving nav bar icon according to the right transition*/
.change .nav_menu_icon{
  right: 19%;
}

.line{
  width: 100%;
  height: 1px;
  background-color: #fff;
  
}

/*Temporary color change of nav icon*/
.change .line{
  background-color: black;
  opacity: 0.8;
}

/*from the below 3 line statements trying to make the hamburger nav bar transform to a close icon*/
.change .line-1{
  transform: rotate(45deg) translate(-0.3rem,0.8rem);   
}

.change .line-2{
  opacity: 0;
  visibility: hidden;
}

.change .line-3{
  transform: rotate(-45deg) translate(-0.3rem,-0.8rem);   
}

.img-edit{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  overflow: hidden;
}

.img-edit img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;  
  animation: scale 20s;  
}

/*Animation for Background Image*/
@keyframes scale{
  0%{
    transform: scale(1.1);
  }
  100%{
      transform: scale(1);
  }  
}

.name{
  position: absolute;
  top: 38%;
  left: 13%;
  
}

.name h1{
  font-family: "Baloo Da 2";
  font-size: 500%;
  font-weight: 300;
  color: #fff;
  text-shadow: rgb(0, 0, 0);
  line-height: 90px;
  width: 50%;
    
}

.name p{
  font-family: "Josefin Slab",serif;
  font-size: 125%;
  color: #fff;
  width: 60%;
  line-height: 25px;
  margin-bottom: 15px;
}

.name button{
  width: 120px;
  height: 40px;
  background-color: #c29525;
  border: none;
  font-family:"Muli";  
  font-size: 10.5px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;    
}

/*Side Bar Customization*/

.sidebar{
  width: 23%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -23%;
  background-color: #fff;  
  /*js implementation of transition*/
  transition: right 0.5s;
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.change .sidebar{
  right: 0;
}

.menu-bar{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-bar-items{
  text-align: center;
  
}

.menu-link{
  font-family: "Baloo Da 2", serif;
  font-size: 35px;
  color: #555;
  position: relative;
}

/*Social Media Icons Customization within the Side Bar check video 34:48*/

/*Hover effect in menu-bar items*/

.menu-link::before{
  content: attr(menu-content);
  position: absolute;  
  color:  #c29525;
  width: 0;
  overflow: hidden;  
  transition: width .5s ease-in-out;
}

.menu-link:hover::before{
  width: 100%;  
}

/* Editing the cards  */

.card_layer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0rem 5rem 10rem 5rem; */
  /* background-color:#40372A; */
  font-family: "Baloo Da 2", serif;
  background:#fff;
  /* background: transparent; */
  
  
}

.wrapper{
  display: flex;
  justify-content: space-evenly;
  /* setting the margin of the cards using margin-top & bottom*/
  margin-top: 4rem;
  margin-bottom: 4rem;  
  width: 100%;
  
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem, 1rem;
  /* background: #fff; */
  /* background: #5A3C92; */  
  position: relative;
  display: flex;
  align-items: flex-end;  
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);   
  transition: 0.5s ease-in-out;
}

.card:hover{
  transform: translateY(20px);  
}

.card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1)); */
  background: linear-gradient(to bottom, rgba(194, 149, 37, 0.5),rgba(116, 92, 171, 1));
  z-index: 2;
  transition: 0.4s all;
  opacity: 0; 
} 

.card:hover:before{
  opacity: 1;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all; 
  margin-left: 10px;
  margin-right: 10px;  
}

.card:hover .info{
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1{  
  margin : 15px;
  text-align: center;    
}

.card .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 1px;
  margin-bottom: 20px;
  text-align: center;
}

.card .info .btn{
  text-decoration: none;
  padding: 0.5rem 2rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  display: block;
  text-align: center;  
  margin-bottom: 20px; 
}

.card .info .btn:hover{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

/* Contact form editing */

.contact{
  width: 100%;
  height: 100vh;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  width: 60%;
  height: 75%;
  margin-top: 30px;
  display: flex;
  /* background-color: #fff; */
  /* box-shadow: 0 3rem 7rem rgba(0,0,0,0.5); */
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.contact-left{
   width: 35%;
   /* background: linear-gradient(rgba(15,15,15,0.6),rgba(22,22,22,0.9)), url(../images/back1.jpg) center no-repeat; */
   background: url(../images/back1.jpg) center no-repeat;
   background-size: cover;
}

.contact-right{
  width: 65%;
  background-color: #eee;
  /* padding: 0 10rem 10rem 10rem; */
  padding: 0rem 10rem 10rem 10rem;
}

.contact-heading{
  font-family: "Baloo Da 2",serif;
  font-size: 40px;
  font-weight: 300;
  color: #272727;
  margin-top: 30px;  
  text-align: center;
}

.contact-right form{
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input{
  position: relative;
}

.field{
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem dashed #c29525;
  margin: 1rem 0;
  padding: 0.3rem 0.5rem 0rem 0.5rem;
  font-family: "Muli", serif;
  font-size: 23px;
  color: #4b4b4b;
}

.user-input input {
  height: 2rem;
} 

.user-input textarea{
  max-height: 40px;
  max-width: 300px;
  resize: none;  
}

.user-input label{
  position: absolute;
  left: 0;
  font-family: "Baloo Da 2", serif;
  font-size: 20px;
  color: #5A3C92;
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.3s; /*Was used to animate the label*/
}

.input-label{
  bottom: 1rem;  
}

.comments{
  bottom: 1.5rem;
}

/* Making the dotted line straight once it is clicked */
.field:focus{
  border-bottom-style: solid;
}

/*Animating the label once the dotted line is clicked*/
.field:focus ~ label{
  transform: translateY(-30px);
  font-size: 10px;
}

.submit-btn{
  width: 300px;
  height: 35px;
  /* background-color:#48500A; */
  background-color:#416B1C;    
  color:#fff;
  border: none;
  margin-top: 10px;
  font-family: "Muli",serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  /* text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5); */
  box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.3);
  transition: 0.4s ease-in-out;
}

.submit-btn:hover{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  /* background-color:#153108; */
  background-color:#214706;  
}

/*Editing the footer 1*/

.footer1{  
  background-color:  #17181b;
  width: 100%;
  height: 220px;
  font-family: "Baloo Da 2", serif;
}

.footer-container{
  width: 80%;
  height: 80%;
  color: #a7a7a7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  /* box-sizing: border-box; */
  padding: 35px 10px; 
}

.footer-topics-1{
  width: 30%;
  padding: 0px 43px;
  box-sizing: border-box;   
}

.footer-topics-2{
  display: flex;
  flex-direction: column;
  /* margin-right: 4rem; */
}

.footer-topics-1 h2{
  margin-bottom: 15px;
}

.footer-topics-2 h2{
  margin-bottom: 15px;
}

.footer-topics-1 p{
  opacity: 0.7;
  line-height: 23px;
}

.footer-topics-2 a{
  color: #a7a7a7;
  opacity: 0.7;
  line-height: 25px;  
}

.footer-topics-2 a:hover{
  color: #c29525;
  transition: ease-out;
}
/*Add a logo here to the footer 1*/


/*Editing the footer 2*/

.footer2{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0c0d;
}

.footer-content{
  /*Space between copyright and social media*/
  /* width: 50%;   */
  display: flex;
  justify-content: space-between;
}

.copyright{
  color: #a7a7a7;
  font-family: "Baloo Da 2", serif;
  font-size: 12px;
  margin: 0 5px;  
}

.social-media-list{
  cursor: pointer;
}

.social-media-list a{
  margin: 0 8px;
}

.social-media-list i{
  font-size: 14px;
  color: #a7a7a7;
}

.social-media-list i:hover{  
  color: #5A3C92;
  transition: ease-out;
}




