*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;  
}

.header{
  width: 100%;
  /*height: 100%; */
  height: 100vh;  
  position: relative;
  transform-style: inherit;
}

/*Implementing Paralax*/



/*Designing the content below*/

.text {
  z-index: 2;
  position: absolute;
  top: 100vh;
  background: black;
  line-height: 30px;
  font-weight: lighter;
  padding: 40px;
  color: grey;
}

/*Nav bar*/
.nav_menu_icon{
  width: 20px;
  height: 20px;  
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right .6s;
}

/*Moving nav bar icon according to the right transition*/
.change .nav_menu_icon{
  right: 19%;
}

.line{
  width: 100%;
  height: 1px;
  background-color: #fff;
}

/*Temporary color change of nav icon*/
.change .line{
  background-color: black;
  opacity: 0.8;
}

/*from the below 3 line statements trying to make the hamburger nav bar transform to a close icon*/
.change .line-1{
  transform: rotate(45deg) translate(-0.3rem,0.8rem);   
}

.change .line-2{
  opacity: 0;
  visibility: hidden;
}

.change .line-3{
  transform: rotate(-45deg) translate(-0.3rem,-0.8rem);   
}

.img-edit{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  overflow: hidden;
}

.img-edit img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;  
  animation: scale 20s;  
}

/*Animation for Background Image*/
@keyframes scale{
  0%{
    transform: scale(1.1);
  }
  100%{
      transform: scale(1);
  }  
}

.name{
  position: absolute;
  top: 38%;
  left: 13%;
  
}

.name h1{
  font-family: "Baloo Da 2";
  font-size: 500%;
  font-weight: 300;
  color: #fff;
  text-shadow: rgb(0, 0, 0);
  line-height: 90px;
  width: 50%;
    
}

.name p{
  font-family: "Josefin Slab",serif;
  font-size: 125%;
  color: #fff;
  width: 60%;
  line-height: 25px;
  margin-bottom: 15px;
}

.name button{
  width: 120px;
  height: 40px;
  background-color: #c29525;
  border: none;
  font-family:"Muli";  
  font-size: 10.5px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;    
}

/*Side Bar Customization*/

.sidebar{
  width: 23%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -23%;
  background-color: #fff;  
  /*js implementation of transition*/
  transition: right 0.5s;
  background: rgba(255, 255, 255, 0.7);
}

.change .sidebar{
  right: 0;
}

.menu-bar{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-bar-items{
  text-align: center;
  
}

.menu-link{
  font-family: "Baloo Da 2", serif;
  font-size: 35px;
  color: #555;
  position: relative;
}

/*Social Media Icons Customization within the Side Bar check video 34:48*/

/*Hover effect in menu-bar items*/

.menu-link::before{
  content: attr(menu-content);
  position: absolute;  
  color:  #c29525;
  width: 0;
  overflow: hidden;  
  transition: width .5s ease-in-out;
}

.menu-link:hover::before{
  width: 100%;  
}





